# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.9'

      - name: Set execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Clear Gradle Cache
        run: ./gradlew clean

      - name: Configurar variáveis de ambiente falsas para AWS
        run: |
              echo "AWS_ACCESS_KEY_ID=fake_key" >> $GITHUB_ENV
              echo "AWS_SECRET_ACCESS_KEY=fake_secret" >> $GITHUB_ENV
              echo "AWS_REGION=us-east-1" >> $GITHUB_ENV

      - name: Run tests with Gradle
        run: ./gradlew test --exclude-task testClasses --stacktrace --info --debug
        continue-on-error: true  # Isso permitirá que o processo continue mesmo que os testes falhem

      - name: Upload test reports as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: build/reports/tests/test/index.html

      - name: Build with Gradle
        run: ./gradlew build

    # NOTE: The Gradle Wrapper is the default and recommended way to run Gradle (https://docs.gradle.org/current/userguide/gradle_wrapper.html).
    # If your project does not have the Gradle Wrapper configured, you can use the following configuration to run Gradle with a specified version.
    #
    # - name: Setup Gradle
    #   uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    #   with:
    #     gradle-version: '8.9'
    #
    # - name: Build with Gradle 8.9
    #   run: gradle build

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
